.LoginButton {
  margin: 5px;
}

.GoogleButton {
  height: 3rem;
}

.Facebook {
  color: rgb(58, 102, 161);
  border-color: rgb(58, 102, 161);
}

.Facebook:hover {
  color: white;
  background: rgb(58, 102, 161);
  border-color: rgb(58, 102, 161);
}

.LuciusLogo:hover {
  background: gainsboro;
}
